<h3 class="mt-3">product-edit.component.ts</h3>

<form [formGroup]="productForm" (ngSubmit)="submit()" class="mt-5" ngxsForm="products.productForm">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="name"
      aria-describedby="name"
      placeholder="Product name"
      formControlName="name"
    />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!productForm.dirty">Submit</button>
  <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
</form>

<p>{{ productForm.value | json }}</p>
<p>{{ productForm.dirty }}</p>
