<h3 class="mt-3">product-table.component.ts</h3>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td class="text-right">
        <i class="far fa-edit mr-3 icon text-success" (click)="editProduct(product)"></i>
        <i class="far fa-trash-alt icon text-danger" (click)="deleteProduct(product)"></i>
      </td>
    </tr>
  </tbody>
</table>
